<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb0ihH6CUfPV198Yw2mp3CqGWTW_o4sro</string>
	<key>GCM_SENDER_ID</key>
	<string>333743959452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projectname</string>
	<key>PROJECT_ID</key>
	<string>rn-template-910f9</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-template-910f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333743959452:ios:b07e6c1c6013bcca166c59</string>
</dict>
</plist>